In [13]:
import pandas as pd

In [14]:
df1=pd.read_csv('naukri_mumbai_pages.csv')

In [15]:
df2=pd.read_csv('naukri_pune_pages_new.csv')

In [16]:
df=pd.concat([df1,df2],ignore_index=True)

In [17]:
df.head()

,Title,Company,Location,Experience,Salary,Skills,Date Posted,Industry type,Job Link
0,Data Analyst,Isprava,Mumbai (All Areas),1-4 Yrs,Not Disclosed,"Excel, Power Point Presentation, Data Analytic...",1 week ago,Travel & Tourism,https://www.naukri.com/job-listings-data-analy...
1,Data analyst,Inginit,Mumbai,0-3 Yrs,Not Disclosed,"master data, metadata, python, data analysis, ...",3+ weeks ago,Analytics / KPO / Research,https://www.naukri.com/job-listings-data-analy...
2,Data Analyst,NSE Cogencis,Mumbai (All Areas),1-3 Yrs,Not Disclosed,"excel, financial market, funds, Multitasking, ...",1 week ago,Financial Services (Asset Management),https://www.naukri.com/job-listings-data-analy...
3,Data Analyst,Ugam,"Hybrid - Gurugram, Bengaluru, Mumbai (All Areas)",2-7 Yrs,Not Disclosed,"Power Bi, Media, SQL, Media Marketing, Media A...",1 week ago,IT Services & Consulting,https://www.naukri.com/job-listings-data-analy...
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,"Mumbai, Bandra, Kursela",2-4 Yrs,Not Disclosed,"python, data analysis, data manipulation, powe...",2 weeks ago,NaN,https://www.naukri.com/job-listings-sustainabi...

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040 entries, 0 to 1039
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          1040 non-null   object
 1   Company        1040 non-null   object
 2   Location       1038 non-null   object
 3   Experience     1021 non-null   object
 4   Salary         1039 non-null   object
 5   Skills         1039 non-null   object
 6   Date Posted    1039 non-null   object
 7   Industry type  859 non-null    object
 8   Job Link       1040 non-null   object
dtypes: object(9)
memory usage: 73.2+ KB

In [19]:
df.shape

(1040, 9)

In [20]:
df.drop("Job Link", axis=1, inplace=True)

In [21]:
df.shape

(1040, 8)

In [22]:
df

,Title,Company,Location,Experience,Salary,Skills,Date Posted,Industry type
0,Data Analyst,Isprava,Mumbai (All Areas),1-4 Yrs,Not Disclosed,"Excel, Power Point Presentation, Data Analytic...",1 week ago,Travel & Tourism
1,Data analyst,Inginit,Mumbai,0-3 Yrs,Not Disclosed,"master data, metadata, python, data analysis, ...",3+ weeks ago,Analytics / KPO / Research
2,Data Analyst,NSE Cogencis,Mumbai (All Areas),1-3 Yrs,Not Disclosed,"excel, financial market, funds, Multitasking, ...",1 week ago,Financial Services (Asset Management)
3,Data Analyst,Ugam,"Hybrid - Gurugram, Bengaluru, Mumbai (All Areas)",2-7 Yrs,Not Disclosed,"Power Bi, Media, SQL, Media Marketing, Media A...",1 week ago,IT Services & Consulting
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,"Mumbai, Bandra, Kursela",2-4 Yrs,Not Disclosed,"python, data analysis, data manipulation, powe...",2 weeks ago,NaN
...,...,...,...,...,...,...,...,...
1035,BI Engineer,Accenture,Pune,2-5 Yrs,Not Disclosed,"BI Engineer, data analysis, apache, spark, apa...",6 days ago,IT Services & Consulting
1036,Machine Learning With Python-Engineer-Pan India,Infosys,"Hybrid - Pune, Hyderabad, Bengaluru",5-10 Yrs,Not Disclosed,"rest, git, tdd, agile, jira, bi publisher, pyt...",4 days ago,NaN
1037,Senior Business Analyst,Danfoss,Pune,3-19 Yrs,Not Disclosed,"Supply chain, Automation, Data analysis, Renew...",3+ weeks ago,NaN
1038,Senior Executive - Debt Management Services - SME,Bajaj Finance,Pune,0-2 Yrs,Not Disclosed,"Account Management, Regulatory Reporting, Secu...",1 week ago,NaN
1039,Measurement & Report Senior Analyst,Accenture,Pune,5-8 Yrs,Not Disclosed,"Python, Business Intelligence, Web Technologie...",2 weeks ago,IT Services & Consulting

In [23]:
df.duplicated().sum()

5

In [24]:
df[df.duplicated()]

,Title,Company,Location,Experience,Salary,Skills,Date Posted,Industry type
293,Business Analyst,Accenture,"Mumbai, Hyderabad",5-10 Yrs,Not Disclosed,"project management, business analysis, busines...",3+ weeks ago,IT Services & Consulting
555,Quality Auditing Analyst,Accenture,Navi Mumbai,3-5 Yrs,Not Disclosed,"documentation, google sheets, quality manageme...",2 days ago,IT Services & Consulting
556,Quality Auditing Analyst,Accenture,Navi Mumbai,3-5 Yrs,Not Disclosed,"documentation, google sheets, quality manageme...",2 days ago,IT Services & Consulting
743,Data Analyst,Keywords Studios,Pune,2-5 Yrs,Not Disclosed,"Automation, Talent acquisition, Data modeling,...",3+ weeks ago,Film / Music / Entertainment
748,Data Analyst,MRO,Pune,3-5 Yrs,Not Disclosed,"IT services, Data migration, Linux, Consulting...",3+ weeks ago,NaN

In [25]:
df=df.drop_duplicates()

In [26]:
df.shape

(1035, 8)

In [27]:
df.isna().sum()

Title              0
Company            0
Location           2
Experience        19
Salary             1
Skills             1
Date Posted        1
Industry type    180
dtype: int64

In [28]:
df[df['Location'].isnull()]

,Title,Company,Location,Experience,Salary,Skills,Date Posted,Industry type
322,Walk-in Drive For Workforce Management Analyst...,ICICI Lombard,NaN,NaN,Not Disclosed,"Call Center Operations, Forecasting, Workforce...",1 week ago,NaN
646,Azure Data Analyst,Tata Consultancy Services,NaN,NaN,Not Disclosed,"Dax Queries, Azure Synapse, Power Bi, Azure Da...",3 days ago,NaN

In [29]:
df = df.dropna(subset=['Location'])  # drop rows with >50% missing

In [30]:
df

,Title,Company,Location,Experience,Salary,Skills,Date Posted,Industry type
0,Data Analyst,Isprava,Mumbai (All Areas),1-4 Yrs,Not Disclosed,"Excel, Power Point Presentation, Data Analytic...",1 week ago,Travel & Tourism
1,Data analyst,Inginit,Mumbai,0-3 Yrs,Not Disclosed,"master data, metadata, python, data analysis, ...",3+ weeks ago,Analytics / KPO / Research
2,Data Analyst,NSE Cogencis,Mumbai (All Areas),1-3 Yrs,Not Disclosed,"excel, financial market, funds, Multitasking, ...",1 week ago,Financial Services (Asset Management)
3,Data Analyst,Ugam,"Hybrid - Gurugram, Bengaluru, Mumbai (All Areas)",2-7 Yrs,Not Disclosed,"Power Bi, Media, SQL, Media Marketing, Media A...",1 week ago,IT Services & Consulting
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,"Mumbai, Bandra, Kursela",2-4 Yrs,Not Disclosed,"python, data analysis, data manipulation, powe...",2 weeks ago,NaN
...,...,...,...,...,...,...,...,...
1035,BI Engineer,Accenture,Pune,2-5 Yrs,Not Disclosed,"BI Engineer, data analysis, apache, spark, apa...",6 days ago,IT Services & Consulting
1036,Machine Learning With Python-Engineer-Pan India,Infosys,"Hybrid - Pune, Hyderabad, Bengaluru",5-10 Yrs,Not Disclosed,"rest, git, tdd, agile, jira, bi publisher, pyt...",4 days ago,NaN
1037,Senior Business Analyst,Danfoss,Pune,3-19 Yrs,Not Disclosed,"Supply chain, Automation, Data analysis, Renew...",3+ weeks ago,NaN
1038,Senior Executive - Debt Management Services - SME,Bajaj Finance,Pune,0-2 Yrs,Not Disclosed,"Account Management, Regulatory Reporting, Secu...",1 week ago,NaN
1039,Measurement & Report Senior Analyst,Accenture,Pune,5-8 Yrs,Not Disclosed,"Python, Business Intelligence, Web Technologie...",2 weeks ago,IT Services & Consulting

In [31]:
df[df['Location'].isnull()]

Empty DataFrame
Columns: [Title, Company, Location, Experience, Salary, Skills, Date Posted, Industry type]
Index: []

In [32]:
df.isna().sum()

Title              0
Company            0
Location           0
Experience        17
Salary             1
Skills             1
Date Posted        1
Industry type    178
dtype: int64

In [33]:
df[df['Skills'].isnull()]

,Title,Company,Location,Experience,Salary,Skills,Date Posted,Industry type
403,Workforce Management and Business Insights Ana...,Propharma Group,"Mumbai, Kolkata, New Delhi, Hyderabad, Pune, C...",3-6 Yrs,NaN,NaN,NaN,NaN

In [34]:
df = df.dropna(subset=['Skills'])

In [35]:
df.isna().sum()

Title              0
Company            0
Location           0
Experience        17
Salary             0
Skills             0
Date Posted        0
Industry type    177
dtype: int64

In [36]:
df[df['Industry type'].isnull()]

,Title,Company,Location,Experience,Salary,Skills,Date Posted,Industry type
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,"Mumbai, Bandra, Kursela",2-4 Yrs,Not Disclosed,"python, data analysis, data manipulation, powe...",2 weeks ago,NaN
7,Data Analyst,Persistent,Navi Mumbai,4-7 Yrs,Not Disclosed,"Data Analysis, Data Analytics, Data Reporting",3 weeks ago,NaN
11,Data Analysts,MALABAR GOLD & DIAMONDS,Mumbai (All Areas)(Andheri MIDC),2-4 Yrs,Not Disclosed,"Data Analysis, Power Bi, Data Management, Data...",1 week ago,NaN
13,Data Analyst,Experian,Mumbai,3-8 Yrs,Not Disclosed,"data analysis, power bi, sql, tableau, data vi...",2 weeks ago,NaN
32,Data Analyst,WebMD,"Navi Mumbai, Thane, Mumbai (All Areas)",3-5 Yrs,Not Disclosed,"Data Visualization, Tableau, Data Analytics, S...",3+ weeks ago,NaN
...,...,...,...,...,...,...,...,...
1033,Senior Data Scientist,Michelin,Pune,4-8 Yrs,Not Disclosed,"Data analysis, Quality standards, Networking, ...",3+ weeks ago,NaN
1034,Senior Executive - Debt Management Services - ...,Bajaj Finance,Pune,0-2 Yrs,Not Disclosed,"Account Management, Regulatory Reporting, Dash...",1 week ago,NaN
1036,Machine Learning With Python-Engineer-Pan India,Infosys,"Hybrid - Pune, Hyderabad, Bengaluru",5-10 Yrs,Not Disclosed,"rest, git, tdd, agile, jira, bi publisher, pyt...",4 days ago,NaN
1037,Senior Business Analyst,Danfoss,Pune,3-19 Yrs,Not Disclosed,"Supply chain, Automation, Data analysis, Renew...",3+ weeks ago,NaN
1038,Senior Executive - Debt Management Services - SME,Bajaj Finance,Pune,0-2 Yrs,Not Disclosed,"Account Management, Regulatory Reporting, Secu...",1 week ago,NaN

In [37]:
df.shape

(1032, 8)

In [38]:
df['Industry type'] = df['Industry type'].fillna('Unknown')

C:\Users\Shreyas\AppData\Local\Temp\ipykernel_22740\2329196744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Industry type'] = df['Industry type'].fillna('Unknown')

In [39]:
df.isna().sum()

Title             0
Company           0
Location          0
Experience       17
Salary            0
Skills            0
Date Posted       0
Industry type     0
dtype: int64

In [40]:
df[df['Experience'].isnull()]

,Title,Company,Location,Experience,Salary,Skills,Date Posted,Industry type
101,Data Analyst Intern,Sage Software,"Mumbai, Navi Mumbai",NaN,Unpaid,"python, data analysis, data analytics, natural...",3+ weeks ago,IT Services & Consulting
102,Data Analyst -Intern,Tranzact,Mumbai,NaN,Unpaid,"python, data analysis, data analytics, data ma...",1 week ago,IT Services & Consulting
112,Data Analyst Intern,Neuraltechsoft,Mumbai,NaN,Unpaid,"Computer science, C++, Data analysis, Quantita...",3+ weeks ago,Miscellaneous
113,Data Analyst Intern,ARP Investments,"Mumbai, Kolkata, New Delhi, Hyderabad, Pune, C...",NaN,Unpaid,"Economics, Basic, Data management, Focus, Inve...",3+ weeks ago,Financial Services
281,Business Analyst Intern,Truemeds India,Mumbai,NaN,Unpaid,"data cleansing, Analytical skills, SQL queries...",3+ weeks ago,Pharmaceutical & Life Sciences
466,Data & AI Intern,Artify Talent Studio,"Mumbai, Kolkata, New Delhi, Hyderabad, Pune, C...",NaN,Unpaid,Intern,3+ weeks ago,Software Product
483,Data Analytics and AI Intern,Artify Talent Studio,"Mumbai, Kolkata, New Delhi, Hyderabad, Pune, C...",NaN,Unpaid,"Intern, Data analytics",3+ weeks ago,Software Product
485,DATA ENGINEERING INTERN,Krayo,"Mumbai, Kolkata, New Delhi, Hyderabad, Pune, C...",NaN,Unpaid,"Computer science, Cloud computing, Data analys...",3+ weeks ago,Software Product
620,Research Analyst Intern || Remote || Unpaid ||...,Humalife Healthcare,Remote,NaN,Unpaid,"Research Analysis, Business Research, Business...",3 weeks ago,Medical Services / Hospital
746,Data Analyst Intern,ARP Investments,"Pune, Kolkata, Mumbai, New Delhi, Hyderabad, C...",NaN,Unpaid,"Economics, Basic, Data management, Focus, Inve...",3+ weeks ago,Financial Services
780,Data Analyst Associate,Mhtechin,Pune,NaN,Unpaid,"Computer science, Data analysis, PDF, Analytic...",3 weeks ago,IT Services & Consulting
865,Data Scientist Internship,Comprinno Technologies,Pune,NaN,Unpaid,"Computer science, Cloud computing, Automation,...",3+ weeks ago,IT Services & Consulting
920,Data Analytics Intern,Reliance Games,Pune,NaN,Unpaid,"MS SQL, Data analysis, data science, MySQL, Co...",3+ weeks ago,Animation & VFX
964,DATA ENGINEERING INTERN,Krayo,"Pune, Kolkata, Mumbai, New Delhi, Hyderabad, C...",NaN,Unpaid,"Computer science, Cloud computing, Data analys...",3+ weeks ago,Software Product
966,Data & AI Intern,Artify Talent Studio,"Pune, Kolkata, Mumbai, New Delhi, Hyderabad, C...",NaN,Unpaid,Intern,3+ weeks ago,Software Product
968,MARS Internship Program,Digital Solution Tech,"Pune, Kolkata, Mumbai, New Delhi, Hyderabad, C...",NaN,Unpaid,"Supply chain, Data analysis, Interpersonal ski...",3+ weeks ago,IT Services & Consulting
988,MIS Intern,Yoursdesk Bizcon,"Pune, Kolkata, Mumbai, New Delhi, Hyderabad, C...",NaN,Unpaid,"Data analysis, Excel, Intern, Database managem...",3+ weeks ago,Management Consulting

In [41]:
df.isna().sum()

Title             0
Company           0
Location          0
Experience       17
Salary            0
Skills            0
Date Posted       0
Industry type     0
dtype: int64

In [42]:
df = df.dropna(subset=['Experience'])

In [43]:
df.isna().sum()

Title            0
Company          0
Location         0
Experience       0
Salary           0
Skills           0
Date Posted      0
Industry type    0
dtype: int64

In [44]:
df.shape

(1015, 8)

In [45]:
import numpy as np
import pandas as pd

def convert_to_days(value):
    # If value is NaN, return NaN
    if pd.isna(value):
        return np.nan

    value = str(value).lower().replace('+', '').strip()  # convert to string & normalize

    if "today" in value:
        return 0

    if "yesterday" in value:
        return 1

    if "hour" in value:
        return 0

    if "week" in value:
        num = int(value.split()[0])
        return num * 7

    if "day" in value:
        num = int(value.split()[0])
        return num

    return np.nan

df['Posted_Days_Ago'] = df['Date Posted'].apply(convert_to_days)

In [46]:
df.head()

,Title,Company,Location,Experience,Salary,Skills,Date Posted,Industry type,Posted_Days_Ago
0,Data Analyst,Isprava,Mumbai (All Areas),1-4 Yrs,Not Disclosed,"Excel, Power Point Presentation, Data Analytic...",1 week ago,Travel & Tourism,7
1,Data analyst,Inginit,Mumbai,0-3 Yrs,Not Disclosed,"master data, metadata, python, data analysis, ...",3+ weeks ago,Analytics / KPO / Research,21
2,Data Analyst,NSE Cogencis,Mumbai (All Areas),1-3 Yrs,Not Disclosed,"excel, financial market, funds, Multitasking, ...",1 week ago,Financial Services (Asset Management),7
3,Data Analyst,Ugam,"Hybrid - Gurugram, Bengaluru, Mumbai (All Areas)",2-7 Yrs,Not Disclosed,"Power Bi, Media, SQL, Media Marketing, Media A...",1 week ago,IT Services & Consulting,7
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,"Mumbai, Bandra, Kursela",2-4 Yrs,Not Disclosed,"python, data analysis, data manipulation, powe...",2 weeks ago,Unknown,14

In [47]:
df.drop("Date Posted", axis=1, inplace=True)

In [48]:
df.head()

,Title,Company,Location,Experience,Salary,Skills,Industry type,Posted_Days_Ago
0,Data Analyst,Isprava,Mumbai (All Areas),1-4 Yrs,Not Disclosed,"Excel, Power Point Presentation, Data Analytic...",Travel & Tourism,7
1,Data analyst,Inginit,Mumbai,0-3 Yrs,Not Disclosed,"master data, metadata, python, data analysis, ...",Analytics / KPO / Research,21
2,Data Analyst,NSE Cogencis,Mumbai (All Areas),1-3 Yrs,Not Disclosed,"excel, financial market, funds, Multitasking, ...",Financial Services (Asset Management),7
3,Data Analyst,Ugam,"Hybrid - Gurugram, Bengaluru, Mumbai (All Areas)",2-7 Yrs,Not Disclosed,"Power Bi, Media, SQL, Media Marketing, Media A...",IT Services & Consulting,7
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,"Mumbai, Bandra, Kursela",2-4 Yrs,Not Disclosed,"python, data analysis, data manipulation, powe...",Unknown,14

In [49]:
df['Salary'].unique()

array(['Not Disclosed', '7-17 Lacs P.A.', '5-10 Lacs P.A.',
       '9-15 Lacs P.A.', '6.5-12 Lacs P.A.', '7-11 Lacs P.A.',
       '13-15 Lacs P.A.', '4-8 Lacs P.A.', '2-2.25 Lacs P.A.',
       '10-16 Lacs P.A.', '16-18 Lacs P.A.', '18-24 Lacs P.A.',
       '9-10 Lacs P.A.', '5-9 Lacs P.A.', '6-16 Lacs P.A.',
       '25-30 Lacs P.A.', '3.75-7 Lacs P.A.', '10-20 Lacs P.A.',
       '3-5 Lacs P.A.', '3.25-8.25 Lacs P.A.', '13-23 Lacs P.A.',
       '4-5.5 Lacs P.A.', '80,000-1.25 Lacs P.A.', '1-2.5 Lacs P.A.',
       '22.5-25 Lacs P.A.', '6-12 Lacs P.A.', '4-5 Lacs P.A.',
       '5-15 Lacs P.A.', '50,000-3 Lacs P.A.', '6-9 Lacs P.A.',
       '3-6 Lacs P.A.', '25-40 Lacs P.A.', '45-55 Lacs P.A.',
       '7-10 Lacs P.A.', '18-22.5 Lacs P.A.', '35-45 Lacs P.A.',
       '15-25 Lacs P.A.', '1-5 Lacs P.A.', '50,000-1 Lacs P.A.',
       '5.5-7 Lacs P.A.', '8-10 Lacs P.A.', '15-27.5 Lacs P.A.',
       '5-6 Lacs P.A.', '20-25 Lacs P.A.', '8-18 Lacs P.A.',
       '12-14 Lacs P.A.', '22.5-32.5 Lacs P.A.', '15-19 Lacs P.A.',
       '5-8.5 Lacs P.A.', '20-35 Lacs P.A.',
       '4-9 Lacs P.A. (Including Variable: 10%)',
       '15-25 Lacs P.A. (Including Variable: 10%)', '3-5.5 Lacs P.A.',
       '1.25-1.75 Lacs P.A.', '11-16 Lacs P.A.', '3-4.5 Lacs P.A.',
       '2.5-6.5 Lacs P.A.', '8-15 Lacs P.A.'], dtype=object)

In [50]:
df['Salary'].value_counts()

Salary
Not Disclosed                                949
4-8 Lacs P.A.                                  3
3-6 Lacs P.A.                                  2
5-15 Lacs P.A.                                 2
15-25 Lacs P.A.                                2
1-5 Lacs P.A.                                  2
25-40 Lacs P.A.                                2
13-15 Lacs P.A.                                2
9-15 Lacs P.A.                                 2
15-27.5 Lacs P.A.                              1
2.5-6.5 Lacs P.A.                              1
7-10 Lacs P.A.                                 1
18-22.5 Lacs P.A.                              1
35-45 Lacs P.A.                                1
3-4.5 Lacs P.A.                                1
11-16 Lacs P.A.                                1
50,000-1 Lacs P.A.                             1
5.5-7 Lacs P.A.                                1
8-10 Lacs P.A.                                 1
5-6 Lacs P.A.                                  1
1.25-1.75 Lacs P.A.                            1
20-25 Lacs P.A.                                1
8-18 Lacs P.A.                                 1
45-55 Lacs P.A.                                1
22.5-32.5 Lacs P.A.                            1
15-19 Lacs P.A.                                1
5-8.5 Lacs P.A.                                1
20-35 Lacs P.A.                                1
4-9 Lacs P.A. (Including Variable: 10%)        1
15-25 Lacs P.A. (Including Variable: 10%)      1
3-5.5 Lacs P.A.                                1
12-14 Lacs P.A.                                1
6-9 Lacs P.A.                                  1
7-17 Lacs P.A.                                 1
25-30 Lacs P.A.                                1
5-10 Lacs P.A.                                 1
6.5-12 Lacs P.A.                               1
7-11 Lacs P.A.                                 1
2-2.25 Lacs P.A.                               1
10-16 Lacs P.A.                                1
16-18 Lacs P.A.                                1
18-24 Lacs P.A.                                1
9-10 Lacs P.A.                                 1
5-9 Lacs P.A.                                  1
6-16 Lacs P.A.                                 1
3.75-7 Lacs P.A.                               1
50,000-3 Lacs P.A.                             1
10-20 Lacs P.A.                                1
3-5 Lacs P.A.                                  1
3.25-8.25 Lacs P.A.                            1
13-23 Lacs P.A.                                1
4-5.5 Lacs P.A.                                1
80,000-1.25 Lacs P.A.                          1
1-2.5 Lacs P.A.                                1
22.5-25 Lacs P.A.                              1
6-12 Lacs P.A.                                 1
4-5 Lacs P.A.                                  1
8-15 Lacs P.A.                                 1
Name: count, dtype: int64

In [51]:
special_values = ['-', '--', '#', '?', '/', 'N/A', 'NA', 'Not Mentioned', 'not disclosed']

for val in special_values:
    print(val, (df == val).sum().sum())

- 0
-- 0
# 0
? 0
/ 0
N/A 0
NA 0
Not Mentioned 0
not disclosed 0

In [52]:
df.to_csv("backup_salary.csv", index=False)

In [53]:
df['Salary'] = df['Salary'].apply(lambda x: 0 if x == 'Not Disclosed' or pd.isna(x) else 1)

df.rename(columns={'Salary': 'Salary_Disclosed'}, inplace=True)

In [54]:
df

,Title,Company,Location,Experience,Salary_Disclosed,Skills,Industry type,Posted_Days_Ago
0,Data Analyst,Isprava,Mumbai (All Areas),1-4 Yrs,0,"Excel, Power Point Presentation, Data Analytic...",Travel & Tourism,7
1,Data analyst,Inginit,Mumbai,0-3 Yrs,0,"master data, metadata, python, data analysis, ...",Analytics / KPO / Research,21
2,Data Analyst,NSE Cogencis,Mumbai (All Areas),1-3 Yrs,0,"excel, financial market, funds, Multitasking, ...",Financial Services (Asset Management),7
3,Data Analyst,Ugam,"Hybrid - Gurugram, Bengaluru, Mumbai (All Areas)",2-7 Yrs,0,"Power Bi, Media, SQL, Media Marketing, Media A...",IT Services & Consulting,7
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,"Mumbai, Bandra, Kursela",2-4 Yrs,0,"python, data analysis, data manipulation, powe...",Unknown,14
...,...,...,...,...,...,...,...,...
1035,BI Engineer,Accenture,Pune,2-5 Yrs,0,"BI Engineer, data analysis, apache, spark, apa...",IT Services & Consulting,6
1036,Machine Learning With Python-Engineer-Pan India,Infosys,"Hybrid - Pune, Hyderabad, Bengaluru",5-10 Yrs,0,"rest, git, tdd, agile, jira, bi publisher, pyt...",Unknown,4
1037,Senior Business Analyst,Danfoss,Pune,3-19 Yrs,0,"Supply chain, Automation, Data analysis, Renew...",Unknown,21
1038,Senior Executive - Debt Management Services - SME,Bajaj Finance,Pune,0-2 Yrs,0,"Account Management, Regulatory Reporting, Secu...",Unknown,7
1039,Measurement & Report Senior Analyst,Accenture,Pune,5-8 Yrs,0,"Python, Business Intelligence, Web Technologie...",IT Services & Consulting,14

In [55]:
df.reset_index(drop=True, inplace=True)

In [56]:
df

,Title,Company,Location,Experience,Salary_Disclosed,Skills,Industry type,Posted_Days_Ago
0,Data Analyst,Isprava,Mumbai (All Areas),1-4 Yrs,0,"Excel, Power Point Presentation, Data Analytic...",Travel & Tourism,7
1,Data analyst,Inginit,Mumbai,0-3 Yrs,0,"master data, metadata, python, data analysis, ...",Analytics / KPO / Research,21
2,Data Analyst,NSE Cogencis,Mumbai (All Areas),1-3 Yrs,0,"excel, financial market, funds, Multitasking, ...",Financial Services (Asset Management),7
3,Data Analyst,Ugam,"Hybrid - Gurugram, Bengaluru, Mumbai (All Areas)",2-7 Yrs,0,"Power Bi, Media, SQL, Media Marketing, Media A...",IT Services & Consulting,7
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,"Mumbai, Bandra, Kursela",2-4 Yrs,0,"python, data analysis, data manipulation, powe...",Unknown,14
...,...,...,...,...,...,...,...,...
1010,BI Engineer,Accenture,Pune,2-5 Yrs,0,"BI Engineer, data analysis, apache, spark, apa...",IT Services & Consulting,6
1011,Machine Learning With Python-Engineer-Pan India,Infosys,"Hybrid - Pune, Hyderabad, Bengaluru",5-10 Yrs,0,"rest, git, tdd, agile, jira, bi publisher, pyt...",Unknown,4
1012,Senior Business Analyst,Danfoss,Pune,3-19 Yrs,0,"Supply chain, Automation, Data analysis, Renew...",Unknown,21
1013,Senior Executive - Debt Management Services - SME,Bajaj Finance,Pune,0-2 Yrs,0,"Account Management, Regulatory Reporting, Secu...",Unknown,7
1014,Measurement & Report Senior Analyst,Accenture,Pune,5-8 Yrs,0,"Python, Business Intelligence, Web Technologie...",IT Services & Consulting,14

In [57]:
df['Salary_Disclosed'].value_counts()

Salary_Disclosed
0    949
1     66
Name: count, dtype: int64

In [58]:
df.isna().sum()

Title               0
Company             0
Location            0
Experience          0
Salary_Disclosed    0
Skills              0
Industry type       0
Posted_Days_Ago     0
dtype: int64

In [59]:
df.shape

(1015, 8)

In [60]:
df.to_csv('Cleaned everthing.csv')

In [61]:
df.head()

,Title,Company,Location,Experience,Salary_Disclosed,Skills,Industry type,Posted_Days_Ago
0,Data Analyst,Isprava,Mumbai (All Areas),1-4 Yrs,0,"Excel, Power Point Presentation, Data Analytic...",Travel & Tourism,7
1,Data analyst,Inginit,Mumbai,0-3 Yrs,0,"master data, metadata, python, data analysis, ...",Analytics / KPO / Research,21
2,Data Analyst,NSE Cogencis,Mumbai (All Areas),1-3 Yrs,0,"excel, financial market, funds, Multitasking, ...",Financial Services (Asset Management),7
3,Data Analyst,Ugam,"Hybrid - Gurugram, Bengaluru, Mumbai (All Areas)",2-7 Yrs,0,"Power Bi, Media, SQL, Media Marketing, Media A...",IT Services & Consulting,7
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,"Mumbai, Bandra, Kursela",2-4 Yrs,0,"python, data analysis, data manipulation, powe...",Unknown,14

In [62]:
df['Location'].unique()

array(['Mumbai (All Areas)', 'Mumbai',
       'Hybrid - Gurugram, Bengaluru, Mumbai (All Areas)',
       'Mumbai, Bandra, Kursela',
       'Hybrid - Pune, Bengaluru, Mumbai (All Areas)',
       'Hyderabad, Bengaluru, Mumbai (All Areas)', 'Navi Mumbai',
       'Mumbai, Hyderabad, New Delhi, Chennai, Bengaluru',
       'Hybrid - Navi Mumbai, Mumbai Suburban, Mumbai (All Areas)',
       'Mumbai (All Areas)(Andheri MIDC)',
       'Mumbai, Kolkata, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
       'Mysuru, Bengaluru, Mumbai (All Areas)',
       'Mumbai (All Areas)(Bandra Kurla Complex)',
       'Navi Mumbai, Thane, Mumbai (All Areas)',
       'Mumbai (All Areas)(Worli)', 'Mumbai, Chennai', 'Remote',
       'Mumbai, Udupi, Bengaluru', 'Mumbai, Malda',
       'Mumbai, Hyderabad, New Delhi, Pune, Chennai', 'Mumbai, New Delhi',
       'Mumbai, Navi Mumbai', 'Mumbai, Noida, New Delhi',
       'Hybrid - Mumbai(Vikhroli)',
       'Mumbai, Mumbai Suburban, Mumbai (All Areas)',
       'Mumbai (All Areas)(Andheri East)', 'Mumbai, Pune',
       'Mumbai, Delhi / NCR, Bengaluru', 'Mumbai Suburban',
       'New Delhi, Bengaluru, Mumbai (All Areas)',
       'Gurugram, Bengaluru, Mumbai (All Areas)', 'Mumbai, Pune, Chennai',
       'Mumbai, Noida, Pune', 'Nagpur, Pune, Mumbai (All Areas)',
       'Hybrid - Mumbai Suburban', 'Mumbai (All Areas)(Andheri)',
       'Mumbai(Ghatkopar), Thane, Mumbai (All Areas)',
       'Mumbai Suburban, Mumbai (All Areas)',
       'Hyderabad, Delhi / NCR, Mumbai (All Areas)',
       'Hybrid - Mumbai, Bengaluru', 'Mumbai (All Areas)(Virar +7)',
       'Mumbai, Nashik',
       'Mumbai, Noida, Chennai, Gurugram, Bengaluru, Vadodara',
       'Mumbai(Lower Parel)', 'Mumbai, Hyderabad, Hyderabad, Mumbai',
       'Mumbai, Hyderabad', 'Pune, Mumbai (All Areas)',
       'Mumbai(Andheri East)', 'Mumbai, Navi Mumbai, Mumbai (All Areas)',
       'Mumbai, Pune, Gurugram, Chennai, Bengaluru',
       'Mumbai(Ghatkopar West)',
       'Bengaluru(Sampangirama Nagar), Mumbai (All Areas)(Andheri East)',
       'Mumbai, Gurugram, Bengaluru',
       'Mumbai, Noida, Kolkata, Navi Mumbai, Hyderabad, New Delhi, Pune, Bengaluru, Vadodara',
       'Hybrid - Nagpur, Pune, Mumbai (All Areas)',
       'Mumbai (All Areas)(Goregaon East)',
       'Mumbai, Noida, Pune, Chennai, Gurugram, Bengaluru',
       'Mumbai, Pune, Chennai, Gurugram, Bengaluru',
       'Hybrid - Hyderabad, Bengaluru, Mumbai (All Areas)',
       'Mumbai, Kochi, Pune, Bengaluru',
       'Hybrid - Kolkata, Bengaluru, Mumbai (All Areas)',
       'Mumbai, Jamshedpur, Bengaluru',
       'Hong Kong, Thailand, Mumbai (All Areas)',
       'Bengaluru, Delhi / NCR, Mumbai (All Areas)', 'Mumbai, Bengaluru',
       'Mumbai, New Delhi, Jaipur, Bengaluru',
       'Pune, Bengaluru, Mumbai (All Areas)', 'Mumbai, Chennai, Gurugram',
       'Hybrid - Mumbai, Pune, Gurugram',
       'Hybrid - Mumbai, Chandigarh, Pune', 'Hybrid - Mumbai, Pune',
       'Hybrid - Mumbai (All Areas)(Goregaon)',
       'Mumbai, Kolkata, Jamshedpur',
       'Mumbai, Noida, Pune, Gurugram, Chennai, Bengaluru',
       'Hybrid - Mumbai',
       'Kochi, Kolkata, Hyderabad, Pune, Chennai, Bengaluru, Delhi / NCR, Mumbai (All Areas)',
       'Hybrid - Mumbai (All Areas)', 'Mumbai (All Areas)(Lower Parel)',
       'Mumbai, Thane', 'Hybrid - Navi Mumbai, Thane, Mumbai (All Areas)',
       'Hyderabad, Gurugram, Bengaluru, Mumbai (All Areas)',
       'Mumbai, Noida, Bengaluru',
       'Mumbai, Navi Mumbai, Hyderabad, Pune, Chennai, Bengaluru',
       'Bengaluru, Mumbai (All Areas)', 'Navi Mumbai, Vashi',
       'Navi Mumbai, Mumbai Suburban, Mumbai (All Areas)',
       'Mumbai, Navi Mumbai, Pune',
       'Mumbai, Mumbai Suburban, Navi Mumbai',
       'Hybrid - Mumbai(Bandra Kurla Complex)',
       'Hybrid - Bengaluru, Delhi / NCR, Mumbai (All Areas)',
       'Mumbai, New Delhi, Pune', 'Hybrid - Mumbai, Gurugram',
       'Hybrid - Kolkata, Hyderabad, Pune, Ahmedabad, Chennai, Bengaluru, Delhi / NCR, Mumbai (All Areas)',
       'Gurgaon/ Gurugram, Mumbai (All Areas)', 'Pune',
       'Hybrid - Pune(Shivajinagar)', 'Pune, Hyderabad, Bengaluru',
       'Pune, Kolkata, Mumbai, New Delhi, Hyderabad, Chennai, Bengaluru',
       'Pune, Noida, New Delhi, Bengaluru', 'Hybrid - Pune',
       'Pune, Nagar',
       'Pune, Kochi, Kolkata, Kannur, Indore, Nagpur, Hyderabad, Lucknow, Kozhikode, Coimbatore, Bengaluru, Thiruvananthapuram',
       'Pune, Madhubani', 'Pune, Chennai',
       'Pune, Mumbai, Hyderabad, New Delhi, Chennai',
       'Pune, Bengaluru, Delhi / NCR',
       'Hybrid - Pune, Chennai, Bengaluru',
       'Hybrid - Pune, Gurugram, Bengaluru', 'Pune, New Delhi, Bengaluru',
       'Pune, Noida, Bengaluru', 'Pune, Chennai, Bengaluru',
       'Pune, Kolkata, Hyderabad', 'Pune, Hyderabad, Gurugram, Bengaluru',
       'Pune(Hinjewadi)', 'Pune, Gurugram, Bengaluru',
       'Hybrid - Pune, Bengaluru', 'Pune, New Delhi, Bangalore Rural',
       'Pune, Mumbai',
       'Pune, Mumbai, New Delhi, Chennai, Gurugram, Bengaluru',
       'Pune, Bengaluru', 'Pune, Mumbai, Chennai', 'Pune, New Delhi',
       'Pune, Coimbatore', 'Hybrid - Pune, Bengaluru, Delhi / NCR',
       'Pune(Viman Nagar)', 'Pune, Noida, New Delhi', 'Pune, Kalyani',
       'Hybrid - Pune, Hyderabad, Bangalore Rural',
       'Pune, Noida, Gurugram', 'Pune, Noida, Mumbai',
       'Hybrid - Pune, Noida, Bengaluru',
       'Pune, Mumbai, Aurangabad, Vadodara',
       'Hybrid - Pune, Hyderabad, Bengaluru',
       'Pune, Noida, Mumbai, Gurugram, Bengaluru',
       'Pune, Mumbai, Gurugram, Bengaluru',
       'Pune(Kharadi), Hyderabad(Gachibowli), Bengaluru(Electronics City Phase 1)',
       'Pune, Mumbai, Chennai, Gurugram, Bengaluru', 'Pune, Hyderabad',
       'Pune, Noida, Indore', 'Pune, Bangalore Rural, India',
       'Pune, Mumbai, Hyderabad, Gurugram, Bengaluru',
       'Pune, Mysuru, Bengaluru', 'Pune, Hyderabad, Chennai, Bengaluru',
       'Hybrid - Pune, Mumbai, Chandigarh',
       'Pune, Mumbai, Hyderabad, Chennai, Gurugram, Bengaluru'],
      dtype=object)

In [63]:
import re

def clean_location(val):
    if pd.isna(val):
        return val

    # remove bracket content like (All Areas)
    val = re.sub(r"\(.*?\)", "", val)

    # split by comma or dash
    parts = re.split(r"[-,]", val)
    parts = [p.strip() for p in parts if p.strip()]

    # if starts with hybrid or remote, take last city name
    if parts[0].lower() in ["hybrid", "remote", "wfh", "work from home"]:
        city = parts[-1]
    else:
        city = parts[0]

    return city

# apply extraction
df['Location'] = df['Location'].apply(clean_location)

# merge duplicate names (no NCR grouping!)
df['Location'] = df['Location'].replace({
    'Gurgaon/ Gurugram': 'Gurugram',
    'Delhi / NCR': 'Delhi',
    'Bengaluru': 'Bangalore',
    'Bangalore Rural': 'Bangalore'
})

# Remove the word Remote if you don't want it at all
# df = df[df['Location'].str.lower() != 'remote']

# Reset index after cleanup
df.reset_index(drop=True, inplace=True)

In [64]:
df.head()

,Title,Company,Location,Experience,Salary_Disclosed,Skills,Industry type,Posted_Days_Ago
0,Data Analyst,Isprava,Mumbai,1-4 Yrs,0,"Excel, Power Point Presentation, Data Analytic...",Travel & Tourism,7
1,Data analyst,Inginit,Mumbai,0-3 Yrs,0,"master data, metadata, python, data analysis, ...",Analytics / KPO / Research,21
2,Data Analyst,NSE Cogencis,Mumbai,1-3 Yrs,0,"excel, financial market, funds, Multitasking, ...",Financial Services (Asset Management),7
3,Data Analyst,Ugam,Mumbai,2-7 Yrs,0,"Power Bi, Media, SQL, Media Marketing, Media A...",IT Services & Consulting,7
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,Mumbai,2-4 Yrs,0,"python, data analysis, data manipulation, powe...",Unknown,14

In [65]:
df['Location'].unique()

array(['Mumbai', 'Hyderabad', 'Navi Mumbai', 'Mysuru', 'Remote',
       'Mumbai Suburban', 'New Delhi', 'Gurugram', 'Nagpur', 'Bangalore',
       'Pune', 'Hong Kong', 'Kochi', 'Delhi', 'Chandigarh'], dtype=object)

In [66]:
df['Skills'] = df['Skills'].str.lower().str.replace(r"\s+", " ", regex=True).str.strip()

In [67]:
df.head()

,Title,Company,Location,Experience,Salary_Disclosed,Skills,Industry type,Posted_Days_Ago
0,Data Analyst,Isprava,Mumbai,1-4 Yrs,0,"excel, power point presentation, data analytic...",Travel & Tourism,7
1,Data analyst,Inginit,Mumbai,0-3 Yrs,0,"master data, metadata, python, data analysis, ...",Analytics / KPO / Research,21
2,Data Analyst,NSE Cogencis,Mumbai,1-3 Yrs,0,"excel, financial market, funds, multitasking, ...",Financial Services (Asset Management),7
3,Data Analyst,Ugam,Mumbai,2-7 Yrs,0,"power bi, media, sql, media marketing, media a...",IT Services & Consulting,7
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,Mumbai,2-4 Yrs,0,"python, data analysis, data manipulation, powe...",Unknown,14

In [68]:
df['Skills'].unique()

array(['excel, power point presentation, data analytics, power bi',
       'master data, metadata, python, data analysis, data management, data analytics, data validation, configuration, data mining, data integrity, dashboards, cleansing, sql, data cleansing, excel, tableau, quality assurance, advanced excel, data visualization, reporting',
       'excel, financial market, funds, multitasking, attention to detail',
       'power bi, media, sql, media marketing, media analytics, paid media, paid social, doubleclick, tableau, media strategy, digital media, data visualization, dashboards',
       'python, data analysis, data manipulation, power bi, market intelligence, supply chain, bi, pivot table, artificial intelligence, data quality, qualitative, quantitative, stakeholder engagement, pivot, data visualization, sell side, financial markets',
       'python programming, pyspark, python data analytics, python data, python scripting, numpy',
       'r program, sql, data analytics, python, esg reporting, data modelling, data analyst, power bi, financial research, environmental analytics, tableau, r script, risk advisory, climate risk, sustainability reporting, energy transition, r, physical risk, sustainability, esg, carbon footprint',
       'data analysis, data analytics, data reporting',
       'master data, metadata, python, data analysis, data management, data analytics, data validation, configuration, data mining, data integrity, cleansing, dashboards, sql, data cleansing, excel, tableau, quality assurance, advanced excel, data visualization, reporting',
       'mis, vlookup, mis reporting',
       'excel, power bi, data analysis, dashboards, governance, mis, budget management, reporting',
       'data analysis, power bi, data management, data cleansing, advanced excel, tableau, mis reporting, sql, excel, mis analysis, data visualization, dashboards, data reporting',
       'power bi, budgeting, tally erp, compliance, ca intern, mis, tableau, reporting, forecasting, cash flow, auditing',
       'data analysis, power bi, sql, tableau, data visualization, hlookup, python, data management, mathematics, bi, pivot table, business analytics, vlookup, knowledge of sql, dashboards, financial services, data quality, advanced excel, statistics',
       'data analysis, data management, data collection, data transformation, reporting tools, python, data analytics, sas, data mining, power bi, machine learning, sql, tableau, data extraction, data science, vba, predictive modeling, data visualization, statistics',
       'french, analytical, data analyst, corporate finance, ssis, business intelligence, microsoft, sql, python',
       'computer science, french, analytical, data analyst, corporate finance, ssis, business intelligence, microsoft, sql, python',
       'data governance, azure data factory, microsoft purview, data quality, cloud, data management, data modeling, data analytics',
       'data analysis, assurance, manager quality assurance, french, csr, data management, iso, project management, data collection, data governance',
       'product management, stakeholder engagement, data analysis, business analytics, analytical, packaging, data analytics, fmcg, continuous improvement, sql',
       'data analysis, tableau, usage, excel, data manipulation, analytical, power bi, data analyst, asap, sql',
       'matrix, excel, cre, machine learning, banking, leasing, data analyst, taxation, data entry',
       'procurement, computer science, construction, excel, analytical, power bi, data quality, data analyst, business intelligence, sql',
       'analytical skills, data validation, excel, vlookup, report writing, mysql, data collection, data analyst, data mining, python',
       'database maintenance, python, data analysis, data analytics, data mining, predictive analytics, business analysis, power bi, machine learning, sql, excel, tableau, r, system, operations, data science, predictive modeling, data visualization, statistics',
       'data analysis, sas, report writing, data collection, packaging, power bi, advanced excel, data analytics, sql, python',
       'master data, metadata, python, data analysis, data management, data analytics, configuration, data mining, data research, data integrity, dashboards, cleansing, research, sql, data cleansing, excel, tableau, quality assurance, data visualization, reporting',
       'metadata, python, data analysis, data management, data analytics, data validation, configuration, data mining, data integrity, dashboards, master data management, cleansing, sql, data cleansing, excel, tableau, quality assurance, data visualization, reporting',
       'data quality, data analytics, data analyst',
       'taxonomy, schema, data analyst, attribution',
       'coding, machine learning, sql, python, data analysis, data analytics, ml',
       'data visualization, tableau, data analytics, sql, excel, data analysis, data analyst, dashboards, reporting, data reporting',
       'computer science, data analysis, pdf, data science, analytical, power bi, data quality, data visualization, sql, python',
       'computer science, process optimization, excel, analytical, data collection, data quality, information technology, sql, logistics, python',
       'health insurance, career development, data analysis, erp, operational excellence, rdbms, data quality, data analyst, troubleshooting, technical support',
       'power bi, bigquery, google tag manager, sql, python, css, javascript, html, jquery',
       'red, due diligence, service level, compliance, analytical, anti money laundering, data analyst, customer service, research, auditing',
       'regulatory reporting, data governance, data quality, data analyst, rto, private equity, sql',
       'hive, python, charts, data analysis, scikit-learn, data manipulation, mathematics, power bi, business analysis, problem solving, sql, alteryx, data cleansing, pandas, tableau, query optimization, operations, data science, etl tool, matplotlib, etl, communication skills',
       'computer science, hospitality, data analysis, google analytics, web analytics, social media, e-commerce, data analyst, management, digital marketing',
       'excel, , macros, data analysis, vba, mis, advanced excel, msbi',
       'power bi, dax, data analytics, power query, sql, data visualization, data modeling',
       'excel, tableau, gcp, data integration tools, power bi, aws, communication skills',
       'power bi, sql, python', 'tableau, power bi, data analyst, sql',
       'training, business analyst, quality check, programming, data analyst, research, troubleshooting, testing',
       'training, e-learning, database design, analytical, database, data analyst, troubleshooting, data mining, monitoring',
       'gis, it services, postgresql, analytical, json, mongodb, selenium, analytics, sql, python',
       'computer science, data analysis, pdf, data modeling, analytical, market research, scheduling, business intelligence, analytics, logistics',
       'metabase, tableau, sql, matplotlib, power bi, pandas, a/b testing, seaborn, etl, looker, numpy, python',
       'loans, data analysis, digital analytics, nbfc, underwriting, consumer finance, analytical, manager technology, portfolio management, analytics',
       'computer science, health insurance, data analysis, automation, development manager, analytical, market intelligence, operations, sql, python',
       'data analysis, excel, analytical, data collection, market research, data visualization, private equity, sql, python',
       'data automation, alteryx, sql, power bi, snowflake, big data, tableau',
       'google analytics, data management, bfsi, mutual funds, analytical, data quality, data integrity, business strategy, informatica, sql',
       'health insurance, data analysis, claims, project estimation, excel, pharma, agile, healthcare, data analyst, data mapping',
       'data analysis, scala, data analyst, sql, python',
       'automation, data analysis, coding, project management, debugging, workflow, healthcare, troubleshooting, sql, python',
       'analytical skills, sql queries, data analysis, data domain, business analyst, power bi, data quality, data analyst, data visualization, sql',
       'xpath, python, data analysis, writing, aws, data engineering, sql',
       'computer science, usage, database design, business data analyst, process improvement, consulting, data collection, data mining, statistics, analytics',
       'it services, excel, client relationship management, accounting, process improvement, reconciliation, query, php, data analyst, taxation',
       'computer science, french, coding, analytical, corporate finance, microsoft, business intelligence, operations, sql, data extraction',
       'data validation, pricing analysis, pharma, competitor analysis, portfolio analysis, strategic planning, market research, market data, crm, profitability analysis',
       'tableau, data analysis, data conversion, wealth management, analytical, consulting, power bi, japanese, alteryx, auditing',
       'data analyst', 'data processing, data analyst',
       'audio visual, computer science, computer hardware, helpdesk, remote desktop, active directory, windows, microsoft, cisco, android',
       'qa, manager quality assurance, web technologies, functional testing, compliance management, data analyst, solution analyst, software solutions',
       'accountancy, supply chain, financial statements, financial analysis, fixed income, financial statement analysis, corporate credit, balance sheet, analytics, private equity',
       'erp, data analysis, sas, ms access, cognos, spss, business intelligence, data warehousing, crystal report, sql',
       'data analysis, version control, git, linux, postgresql, machine learning, data structures, data analyst, sql, python',
       'analytical, risk assessment, data quality, data mining, information technology, sql, auditing, python',
       'people development, data management, architecture, agile scrum, analytical, diversity and inclusion, data governance, data analyst, continuous improvement, recruitment',
       'data analysis, analytical, power distribution, machine learning, data collection, data quality, operations, scada, sql, python',
       'data analysis, coding, data modeling, analytical, query, manager technology, business rules, financial services, sql, python',
       'computer science, data analysis, analytical, data collection, market research, customer engagement, internship, sql, python, junior data analyst',
       'risk management, project management, companies act, data analysis, company law, payments, problem solving, capital market, excel, economics, written communication, compliance, secretarial activities, corporate governance, finance, communication skills, governance',
       'data management, senior analyst, data governance, data quality, investment banking, asset management, information management, financial services, analytics, wholesale',
       'data analysis, english, data analytics',
       'urdu, data analysis, data analytics',
       'computer science, administration management, deep learning, excel, manager quality assurance, management systems, machine learning, operations, user acceptance testing, python',
       'data analysis, data management, analytical, trend analysis, data collection, strategic planning, data quality, business intelligence, monitoring, sql',
       'bengali, data analysis, data analytics',
       'process automation, data analysis, finance, trend analysis, cash flow, power bi, data analyst, operations, analytics, monitoring',
       'punjabi, data analysis, data analytics',
       'service level, data governance, workflow, data quality, investment banking, asset management, analytics, financial services, monitoring, sql',
       'senior executive, data analyst',
       'data validation, data quality, data analysis, sql queries, capital market, stored procedures, tables',
       'vba coding, advanced excel, macros, excel vba',
       'hive, python, data analysis, sql queries, modeling, scala, pyspark, business analysis, change request, data mapping, sql, data quality, agile process, java, data modeling, written communication, putty, spark, agile, big data, sdlc, communication skills, governance',
       'unix, c++, linux, scrum, data mining, sdlc, analytics, automotive, sql, python',
       'it analyst, data governance',
       'automation, networking, configuration management, agile, data structures, workflow, ssis, microsoft, sql, python',
       'snowflake, data management, aws, etl, etl development, visualforce, data analysis, sfdc, power bi, data warehousing, triggers, business intelligence, apex, sql, salesforce, sales force development, salesforce crm, technical design, tableau, data loader',
       'data analysis, coding, bfsi, agile, stakeholder management, jira, project delivery, financial services, sql, python',
       'communication skills, accounting, general accounting, bank reconciliation, accounts',
       'nbfc, product innovation, analytical, vlookup, conditional formatting, operation executive, investment banking, operations, crm',
       'business intelligence, power bi, data visualization, digital marketing, data analytics',
       'macros, vba coding, vba, writing, investment, excel macros, financial markets, communication skills',
       'team management, coding, process improvement, pharma, pharmacy, life sciences, clinical data management, data entry, logistics, customer interaction',
       'python, excel, data engineer, data analyst, sql',
       'wealth management, data management, data modeling, data quality, asset management, medical insurance, operations, financial services, investment, sql',
       'team management, coding, process improvement, pharma, pharmacy, life sciences, data entry, logistics, customer interaction, clinical data management',
       'data analysis, manager quality assurance, hcpcs, medical billing, medical coding, process improvement, life sciences, pharmacovigilance, data entry, clinical data management',
       'it services, medical devices, artificial intelligence, machine learning, life sciences, data quality, data mining, analytics, sql, python',
       'mis reporting, mis preparation, sales mis, daily reports, sales report, vlookup, mis operations, mis, advanced excel, mis generation, management information system, data reporting',
       'supply chain, data analysis, sales, networking, business data analyst, analytical, product portfolio, customer experience, customer engagement, logistics',
       'sql, data analysis, ms sql, data manipulation, data structure',
       'data analysis, sas, risk analytics, analytical, machine learning, risk management, business intelligence, operations, financial services, sql',
       'power bi, tableau, data analyst, sql, python, business intelligence, business analytics, data analysis, digital transformation, business analyst, data analytics',
       'system testing, data analysis, sap, testing tools, business analysis, regression testing, scrum, test cases, jira, analytics',
       'time series analysis, python, data analysis, statistical techniques, hypothesis testing, power bi, firebase, analysis, sql, nosql, tableau, seaborn, postgresql, matplotlib, mysql, data visualization, bigquery, aws, mongodb, programming, statistics, communication skills',
       'data analysis, data modeling, analytical, reconciliation, data collection, data quality, subject matter expert, data warehousing, sql, python',
       'data analytics, analytical, bi, verbal communication, power bi, data architecture, dashboards, sql, analytics, excel, tableau, data extraction, hr strategy, data science, hr analytics, writing, business insights, data visualization, performance management, communication skills, statistics',
       'metadata, python, data analysis, data management, configuration, data mining, business analysis, data warehousing, master data management, sql, data cleansing, excel, data quality, tableau, data governance, troubleshooting, user management, reporting, unix',
       'due diligence, real estate, estate, advanced excel, property management, vendor management, office administration, housekeeping, housekeeping management, cafeteria management, facility management, guest house management, general administration, liaison',
       'automation, data analysis, adobe analytics, data modeling, analytical, reconciliation, data analyst, performance analysis, python',
       'posthog, looker, english, llm, data analytics, lookml, analytics, python',
       'sales, scalability, competitive analysis, business research, product innovation, senior analyst, product life cycle, healthcare, e-commerce, data analyst',
       'c++, data analysis, quantitative research, analytical, programming, data processing, market data, strategy development, python',
       'client development, industry research, consulting, management, recruitment',
       'kpi, advanced excel, kpi reporting, sales analysis, power bi, microsoft power bi, ms power bi, sales kpi, power bi reports, excel, sales report, kpi analysis, vlookup, analytics reporting',
       'workday reporting, workday, eib, integration, excel, power bi, hr reporting, dashboards, hr analytics',
       'procurement, housekeeping, supply chain, data analysis, strategic sourcing, business intelligence, microsoft, sql, recruitment, python',
       'computer science, data analysis, coding, reconciliation, strategic planning, data quality, manager quality control, sql, python, auditing',
       'advance sql, etl, python',
       'google analytics, data management, bfsi, business analytics, analytical, strategic planning, data quality, sql, python, data architecture',
       'data analysis, data management, information security, analytical, mysql, data collection, market research, business intelligence, analytics, sql',
       'business process, loans, financial reporting, data management, gap analysis, ifrs, risk management, operations, analytics, sql',
       'sas, data modeling, project management, cognos, ssrs, senior business analyst, ssis, sap bi, sql, python',
       'computer science, automation, product engineering, coding, analytical, machine learning, wellness, analytics, sql, python',
       'health insurance, performance management, mis, healthcare, customer service, asset management, analytics, financial services, recruitment, sql',
       'insights, analytics, panels, azure, power bi, consumer research, tableau, looker, sql, r, askia explorer, sales, etl process, data warehousing, spss, data analytics, aws, brand tracking, market research, python',
       'healthcare domain, epic, erwin, data analyst, cerner, er studio, fdi, athena',
       'product management, product engineering, operations research, db2, analytical, continuous improvement, open source, analytics, sql, recruitment',
       'data science, generative ai, data analytics, artificial intelligence, risk analytics, data management, machine learning',
       'data analysis, business analyst, business analysis, data modeling, analytical, data quality, business intelligence, business applications, data warehousing, sql',
       'analytical skills, sql queries, data analysis, product engineering, tableau, business analytics, e-commerce, data analyst, data visualization, gaming',
       'it business analysis, project management, business requirements, analytical, business analysis, interpersonal skills, power bi, warehouse, business intelligence, sql, requirement gathering, tableau, application, data modeling, brd, data warehousing concepts, communication skills',
       'data analysis, manager quality assurance',

In [69]:
df

,Title,Company,Location,Experience,Salary_Disclosed,Skills,Industry type,Posted_Days_Ago
0,Data Analyst,Isprava,Mumbai,1-4 Yrs,0,"excel, power point presentation, data analytic...",Travel & Tourism,7
1,Data analyst,Inginit,Mumbai,0-3 Yrs,0,"master data, metadata, python, data analysis, ...",Analytics / KPO / Research,21
2,Data Analyst,NSE Cogencis,Mumbai,1-3 Yrs,0,"excel, financial market, funds, multitasking, ...",Financial Services (Asset Management),7
3,Data Analyst,Ugam,Mumbai,2-7 Yrs,0,"power bi, media, sql, media marketing, media a...",IT Services & Consulting,7
4,Sustainability Data Analyst - TR Foundation,Thomson Reuters,Mumbai,2-4 Yrs,0,"python, data analysis, data manipulation, powe...",Unknown,14
...,...,...,...,...,...,...,...,...
1010,BI Engineer,Accenture,Pune,2-5 Yrs,0,"bi engineer, data analysis, apache, spark, apa...",IT Services & Consulting,6
1011,Machine Learning With Python-Engineer-Pan India,Infosys,Bangalore,5-10 Yrs,0,"rest, git, tdd, agile, jira, bi publisher, pyt...",Unknown,4
1012,Senior Business Analyst,Danfoss,Pune,3-19 Yrs,0,"supply chain, automation, data analysis, renew...",Unknown,21
1013,Senior Executive - Debt Management Services - SME,Bajaj Finance,Pune,0-2 Yrs,0,"account management, regulatory reporting, secu...",Unknown,7
1014,Measurement & Report Senior Analyst,Accenture,Pune,5-8 Yrs,0,"python, business intelligence, web technologie...",IT Services & Consulting,14

In [70]:
pip install mysql-connector-python sqlalchemy pymysql

Requirement already satisfied: mysql-connector-python in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (9.5.0)
Requirement already satisfied: sqlalchemy in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (2.0.44)
Requirement already satisfied: pymysql in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\shreyas\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [71]:
df.to_csv('Jobs data.csv')

In [72]:
from sqlalchemy import create_engine

# Create connection engine
engine = create_engine("mysql+pymysql://root:root@localhost:3306/job_data")

# Push DataFrame to MySQL
df.to_sql(name='naukri_jobs', con=engine, if_exists='replace', index=False)

print("Data loaded successfully!")

Data loaded successfully!